USE [master]
GO

CREATE DATABASE [QLYKARAOKE]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLYKARAOKE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLYKARAOKE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[id](
	[ma_id] [int] NOT NULL,
	[id] [nvarchar](50) NULL,
	[id_1] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_bienlai](
	[ma_hd] [int] NULL,
	[ma_hddv] [int] NULL,
	[tong_tien] [int] NOT NULL,
	[thoi_gian] [date] NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dichvu](
	[ma_dv] [int] NOT NULL,
	[ten_dv] [nvarchar](50) NULL,
	[gia_dv] [int] NOT NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_hdtp](
	[ma_hd] [int] NULL,
	[ma_phong] [int] NOT NULL,
	[ma_nv] [int] NOT NULL,
	[ngay_dp] [nvarchar](50) NULL,
	[gio_dp] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_hoadondv](
	[ma_hddv] [int] NOT NULL,
	[ma_dv] [int] NOT NULL,
	[gio_hddv] [nvarchar](50) NULL,
	[ngay_hddv] [nvarchar](50) NULL,
	[tinhtrang] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_khachhang](
	[ma_kh] [int] NOT NULL,
	[ten_kh] [nvarchar](50) NULL,
	[cmnd_kh] [nvarchar](50) NULL,
	[quoctich_kh] [nvarchar](50) NULL,
	[gioitinh_kh] [nvarchar](50) NULL,
	[tuoi_kh] [nvarchar](50) NULL,
	[sdt_kh] [nvarchar](50) NULL,
	[tinhtrang] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_khachnhanphong](
	[ma_kh] [int] NOT NULL,
	[ma_phong] [int] NOT NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_login](
	[ma_tk] [int] NOT NULL,
	[taikhoan] [nvarchar](50) NULL,
	[matkhau] [nvarchar](50) NULL,
	[ten_tk] [nvarchar](50) NULL,
	[tinhtrang] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_nhanvien](
	[ma_nv] [int] NOT NULL,
	[ten_nv] [nvarchar](50) NULL,
	[chucvu_nv] [nvarchar](50) NULL,
	[luong_nv] [nvarchar](50) NULL,
	[namsinh_nv] [nvarchar](50) NULL,
	[gioitinh_nv] [nvarchar](50) NULL,
	[chuthich_nv] [nvarchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_phong](
	[ma_phong] [int] NOT NULL,
	[ten_phong] [nvarchar](50) NULL,
	[loai_phong] [nvarchar](50) NULL,
	[gia_phong] [int] NULL,
	[chuthich] [nvarchar](50) NULL,
	[tinhtrang] [int] NULL
) ON [PRIMARY]

GO
SET DATEFORMAT dmy

GO
INSERT [dbo].[id] ([ma_id], [id], [id_1]) VALUES (1, N'*', N'1')
INSERT [dbo].[id] ([ma_id], [id], [id_1]) VALUES (2, N'6', N'*')
INSERT [dbo].[id] ([ma_id], [id], [id_1]) VALUES (3, N'*', N'1')
INSERT [dbo].[tb_bienlai] ([ma_hd], [ma_hddv], [tong_tien], [thoi_gian]) VALUES (1, 2, 500000,'01/05/2020')
INSERT [dbo].[tb_bienlai] ([ma_hd], [ma_hddv], [tong_tien], [thoi_gian]) VALUES (1, 3,800000,'03/05/2020')
INSERT [dbo].[tb_bienlai] ([ma_hd], [ma_hddv], [tong_tien], [thoi_gian]) VALUES (1, 4,2000000,'20/09/2019')
INSERT [dbo].[tb_dichvu] ([ma_dv], [ten_dv], [gia_dv]) VALUES (1, N'Bia 333 * 24lon', 330000)
INSERT [dbo].[tb_dichvu] ([ma_dv], [ten_dv], [gia_dv]) VALUES (2, N'Bia Tiger nâu * 24lon', 380000)
INSERT [dbo].[tb_dichvu] ([ma_dv], [ten_dv], [gia_dv]) VALUES (3, N'dĩa trái cây', 120000)
INSERT [dbo].[tb_hdtp] ([ma_hd], [ma_phong], [ma_nv], [ngay_dp], [gio_dp]) VALUES (1, 3, 2, N'10-12-2017', N'23:39')
INSERT [dbo].[tb_hdtp] ([ma_hd], [ma_phong], [ma_nv], [ngay_dp], [gio_dp]) VALUES (2, 4, 3, N'01-05-2019', N'23:39')
INSERT [dbo].[tb_hoadondv] ([ma_hddv], [ma_dv], [gio_hddv], [ngay_hddv], [tinhtrang]) VALUES (2, 3, N'23:39', N'10-12-2017', N'1')
INSERT [dbo].[tb_hoadondv] ([ma_hddv], [ma_dv], [gio_hddv], [ngay_hddv], [tinhtrang]) VALUES (3, 4, N'23:39', N'10-12-2017', N'1')
INSERT [dbo].[tb_hoadondv] ([ma_hddv], [ma_dv], [gio_hddv], [ngay_hddv], [tinhtrang]) VALUES (4, 4, N'23:39', N'10-12-2017', N'1')
INSERT [dbo].[tb_khachhang] ([ma_kh], [ten_kh], [cmnd_kh], [quoctich_kh], [gioitinh_kh], [tuoi_kh], [sdt_kh], [tinhtrang]) VALUES (1, N'nguyễn chiến a', N'4203942', N'VIỆT NAM', N'0', N'18', N'20934820', N'1')
INSERT [dbo].[tb_khachnhanphong] ([ma_kh], [ma_phong]) VALUES (1, 3)
INSERT [dbo].[tb_khachnhanphong] ([ma_kh], [ma_phong]) VALUES (8, 2)
INSERT [dbo].[tb_login] ([ma_tk], [taikhoan], [matkhau], [ten_tk], [tinhtrang]) VALUES (1, N'admin', N'123', N'Nguyen văn chiến', N'1')
INSERT [dbo].[tb_login] ([ma_tk], [taikhoan], [matkhau], [ten_tk], [tinhtrang]) VALUES (2, N'nguyenchien', N'1234', N'nguyễn văn chiến', N'0')
INSERT [dbo].[tb_login] ([ma_tk], [taikhoan], [matkhau], [ten_tk], [tinhtrang]) VALUES (3, N'chienjf', N'1234', N'nguyễn văn chiến', N'0')
INSERT [dbo].[tb_nhanvien] ([ma_nv], [ten_nv], [chucvu_nv], [luong_nv], [namsinh_nv], [gioitinh_nv], [chuthich_nv]) VALUES (1, N'Nguyễn Văn Chiến', N'Chủ Quán', N'5000000', N'1996', N'1', N'VIP')
INSERT [dbo].[tb_nhanvien] ([ma_nv], [ten_nv], [chucvu_nv], [luong_nv], [namsinh_nv], [gioitinh_nv], [chuthich_nv]) VALUES (2, N'Quốc bình', N'nhân viên', N'5000000', N'1997', N'1', N'')
INSERT [dbo].[tb_nhanvien] ([ma_nv], [ten_nv], [chucvu_nv], [luong_nv], [namsinh_nv], [gioitinh_nv], [chuthich_nv]) VALUES (3, N'Hồng Hạnh', N'nhân viên', N'5000000', N'1996', N'0', N'')
INSERT [dbo].[tb_phong] ([ma_phong], [ten_phong], [loai_phong], [gia_phong], [chuthich], [tinhtrang]) VALUES (1, N'A01', N'1', 100000, N'', 0)
INSERT [dbo].[tb_phong] ([ma_phong], [ten_phong], [loai_phong], [gia_phong], [chuthich], [tinhtrang]) VALUES (2, N'A02', N'1', 100000, N'', 0)
INSERT [dbo].[tb_phong] ([ma_phong], [ten_phong], [loai_phong], [gia_phong], [chuthich], [tinhtrang]) VALUES (3, N'A03', N'1', 100000, N'', 1)
USE [master]
GO
